:root {
    --main-color: #143A52;
    --secondary-color: #6E828A;
    --text-color: #CDE3EB;
}

html {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Main CSS */
body {
    background-color: rgb(255, 255, 255);
}


.main-grid {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

/* Navigation Bar */

.navigation {
    grid-column-start: 1;
    background-color: #385f6f;
    padding: 30px;
    color: white;
}

.task-container {
    grid-column-start: 2;
    height: 100vh;
    margin-inline: auto;
    width: min(90%, 60rem);
    margin: 50px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
}

#todo {
    color: #9bc4d6;
    margin-left: 10px;
}

.icon-container {
    border-top: #9bc4d6 1px solid;
}

.icons {
    display: flex;
    align-items: center;
    margin: 30px 0;
}

.icons p {
    margin-left: 10px;
}

.project-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: #9bc4d6 1px solid;
    
}

.project-container button {
    background-color: #9bc4d6;
    border-radius: 17px;
    border: none;
    width: 35px;
    height: 35px;
    color: black;
    font-size: 1rem;
    margin-top: 20px;
    cursor: pointer;
}

.project-container h1 {
    margin-top: 20px;
}

/* Tasks */

.all {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #385f6f;
    font-size: 1.2rem;
    border-bottom: #385f6f 3px solid;
}

.all button {
    background-color: #385f6f;
    border-radius: 17px;
    border: none;
    width: 35px;
    height: 35px;
    color: white;
    font-size: 1rem;
    margin-bottom: 10px;
    cursor: pointer;
}

.all h2 {
    margin-bottom: 10px;
}

.tasks {
    display: flex;
    flex-direction: column;
}

.new-task {
    margin-top: 20px;
    display: flex;
    border-bottom: black 2px solid;
    border-top: black 2px solid;
    color: black;
    justify-content: space-between;
    padding: 20px;
}

.left-side {
    display: flex;
    align-items: center;
}

.left-side button {
    height: 2rem;
    width: 2rem;
    border-radius: 20px;
    background-color: transparent;
    border: solid black 2px;
    cursor: pointer;
    background-image: url(file:///home/david/GitHub/To-Do-List/src/check.png);
    background-repeat: no-repeat;
    background-position: center;
}

.project-text p {
    margin: 5px 0;
    margin-left: 10px;
}

.info {
    display: flex;
    align-items: center;
}

.info p {
    margin-right: 5px;
}

/* new task pop up */

#new {
    display: none;
}

.new-task-popup {
    opacity: 1;
    max-height: auto;
    transition: max-height 0.8s ease-out, opacity 300ms ease-in-out;
    transition-property: max-height, opacity;
    transition-duration: 0.8s, 300ms;
    transition-timing-function: ease-out, ease-in-out;
    transition-delay: 0s, 0s;
}

.project-input {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.project-input input {
    margin: 10px 0;
    padding: 5px;
}

.info input {
    margin-right: 20px;
    padding: 10px;
}

/* add project popup */

.projects {
    display: none;
    margin-top: 30px;
    background-color: transparent;
    border: white 2px solid;
    padding: 20px;
    border-radius: 10px;
    flex-direction: column;
}

.projects input {
    background-color: transparent;
    border: white 2px solid;
    padding: 10px;
}

.projects-buttons {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.add {
    color: green;
    background-color: rgba(214, 248, 214, 0.818);
    border: none;
    border-radius: 10px;
    margin-right: 10px;
    width: 4rem;
    height: 2rem;
    cursor: pointer;
}

.cancel {
    color: red;
    background-color: rgba(248, 214, 214, 0.798);
    border: none;
    border-radius: 10px;
    margin-right: 10px;
    width: 4rem;
    height: 2rem;
    cursor: pointer;
}

.project-select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    font-size: 25px;
}

#name {
    display: flex;
    align-items: center;
}

.project-select p {
    margin-left: 10px;
}

#trash {
    display: flex;
    align-items: center;
}



